    <div class="container">
      <%= render "layouts/header" %>
        <div class="profile-container">
          <div class="row">
            <div class="col-md-3" style="background-color:orange;">
              <h2>User info</h2>
                <div class="form-body">
                  <%= form_for(@user,url:"/users/#{@user.id}") do |f| %>
                  <%= render 'layouts/error_messages', model: f.object %>
                    <div class="row">
                      <div class="col-md-2">
                        Name
                      </div>
                      <div class="col-md-10">
                        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:@name %>
                      </div>
                    </div>
                      <div class="user-edit-image">
                        <%= attachment_image_tag @user, :profile_image, :fill, 50 , 50, class: "pull-left",fallback: "no_image.jpg" %>
                      </div>
                          <br>
                            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
                </div>
                  <br>
              <div class="row">
                <div class="col-md-4">
                  Introduction
                </div>
              <div class="col-md-8">
                <%= f.text_field :introduction, autofocus: true, class:"form-control", id:"inputEmail", placeholder:@introduction %>
              </div>
              <br>
              <div class="col-md-4">
                <%= f.submit "Update User" %>
              </div>
                  <% end %>
              </div>
            </div>
</div>
</div>
</div>