<html>
    <body>
        <span class="container">
            <%= render "layouts/header" %>
            <%= render 'layouts/user', user: @user %>
            <%= render 'layouts/new', book: @book %>
            <div class="col-md-9" style="background-color:green">
              <span crass="user-container">
                <h1>Users</h1>
                <table class="table table-striped">
                <thead>
                    <tr>
                      <strong>
                      <th>image</th>
                      <th>name</th>
                      <th></th>
                      </strong>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                <% @users.each do |user| %>
                    <td>
                      <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', class: "profile-thumb", fallback: "no_image.jpg" %></td>
                    <td><%= @user.name %></td>
                    <td><%= link_to "Show", "/users/#{@user.id}" %></td>
                  </tr>
                <% end %>
              </tbody>
             </table>
           </div>
       </span>
</body>
</html>