<html>
    <body>
        <span class="container">
            <%= render "layouts/header" %>
            <%= render 'layouts/new', book: @book %>
      <div class="col-md-9" style="background-color:green">
         <h1>Books</h1>
     <table class="table table-striped">
   		<thead>
   			<tr>
   				<strong>
            <th></th>
      			<th>Title</th>
      			<th>Opinion</th>
      		</strong>
  		   </tr>
  		</thead>
  		<tbody>
  			<% @books.each do |book| %>
    		  <tr>
            <td>
            <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "pull-left profile-thumb" ,fallback: "no_image.jpg" %></td>
	      		<td><%= link_to book.title, "/books/#{book.id}" %></td>
	      		<td><%= book.opinion %></td>
	      	</tr>
	      <% end %>
	    </tbody>
	   </table>
   </div>
   </div>
 </div>
</body>
</html>