  <div class="row" style="background-color:black;">
    <div class ="col-md-3">
      <h3 class="title" style="color:white;">Bookers</h3>
    </div>
    <div class="col-md-8" style="color:gray;">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
         <li class="">
          <span class="glyphicon glyphicon-home" aria-hidden="true">
            <%= link_to 'Home', user_path(current_user.id) %>
          </span>
        </li>
        <li class="">
          <span class="glyphicon glyphicon-user" aria-hidden="true">
            <%= link_to 'Users', users_path %></span>
        </li>
        <li class="">
          <span class="glyphicon glyphicon-book" aria-hidden="true">
            <%= link_to 'Books', books_path %></span>
        </li>
        <li class="">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true">
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </span>
        </li>
      <% else %>
        <li class="">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true">
            <%= link_to 'login', new_user_session_path %></span>
        </li>
        <li class="">
          <span class="glyphicon glyphicon-new-window" aria-hidden="true">
            <%= link_to 'signup', new_user_registration_path %></span>
        </li>
      <% end %>
    </ul>
    </div>
  </div>