<div class= "row">
<div class= "col-xs-12">
<h2>New book</h2>
<%= form_for(@book, url: '/books') do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
    <h5>Title</h5>
    <%= f.text_field :title ,class:"col-xs-12" %>
	<h5>Opinion</h5>
    <%= f.text_area :body,class:"col-xs-12" %>
 <p>
 <%= f.submit "Create Book" %>
</p>
<% end %>
</div>
</div>